
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #fff;
  /*background-color: #61122f;*/
  font-family: 'Oxygen', sans-serif;
}
#collapsable-nav ul li:nth-child(1){
  background-color: #e5d198;
}

#collapsable-nav ul li:nth-child(2){
  background-color: #999999;
}

#collapsable-nav ul li:nth-child(3){
  background-color: #d59898;
}
#header-nav
{
	background-color: grey;
	border-radius: 0px;
	border:0;

}
.navbar-Brand h2
{
	color:black;
	font-size: 1.8em bold;

}

.navbar-Brand a:hover
{
	text-decoration: none;
}
#nav-list span
{
 color: black;

}
#nav-list a
{
	text-align: center;
}
.navbar-Brand button.navbar-toggle
{
	clear:both;
	 margin-top: -40px;
}
#title-wrapper
{
	color: black;
	padding-top: 10px;
	

}

#title
{
	color:black;
}
p
{
	text-align: justify;
	color: black;
	padding:0px 20px 10px;
}

.chicken{
	background-color: grey;
	
	/*margin-left: 5px;*/
}
0px